@media only screen and (min-width: 76.25em) {
    .md-main__inner {

    }
    .md-sidebar--primary {

    }
    .md-sidebar--secondary {

        margin-left: 0;
        -webkit-transform: none;
        transform: none;
    }
}